.meta-container {
    width: 100%;
}

.collection-list {
    list-style: none;
    padding: 0 .4rem;
}

.content-meta {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.content-meta > h3,
.content-meta > p {
    margin: .15rem 0;
    font-family: "Droid Sans Mono", monospace;
    color: #4F5D75;
}

.creation-meta {
    display: flex;
}

.creation-meta > span {
    margin: 0 1rem 0 2px;
    font-family: "Droid Sans Mono", monospace;
    font-size: small;
    color: #bcbcbc
}

.blog-link {
    text-decoration: none;
    color: inherit;
}
